@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

:root {
    --bg: #112D32;
    --primary: #88BDBC;
    --accent: #6E6658;
    --black: #111111;
    --white: #F5F5F5;
    --regular-font: 14px;
    --heading-font: 20px;
    --main-heading: 40px;
    --shadow: #64646F33 0px 7px 29px 0px;
    --radi: 10px;
}

a:hover,
a:focus {
    color: var(--primary);
    transition-duration: 0.3ms;
    text-decoration: none;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title h6 {
    font-size: var(--heading-font);
    text-transform: capitalize;
}

.section-title p {
    font-size: var(--regular-font);
}

.material {
    box-shadow: #64646F33 0px 7px 29px 0px;
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: var(--white);

}

.hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* Hide overflow content within the section */
    margin-bottom: 100px;
    height: 800px;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/blogimg1.jpg');
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%);
    /* Apply brightness filter only to the background image */
    background-color: var(--bg) !important;
    /* Replace with your desired hex color */
    opacity: 0.;
    /* Adjust the opacity as needed */
    z-index: -1;
    /* Place the pseudo-element behind the content */
}

.navbar {
    min-height: 100px;
    background-color: transparent !important;
    margin-bottom: 100px;
    color: var(--white) !important;
    border-bottom: 1px solid var(--accent);
}

.navbar-nav {
    margin: ;
}

.navbar-brand {
    color: var(--white);
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.navbar-toggler {
    font-size: 30px;
    color: var(--white);
    border: none;
    background: transparent;
    box-shadow: none !important;
}

.nav-item .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 40px;
    margin-right: 20px;
    color: var(--white);
    transition: all 0.2s ease 0s;
}

.nav-item .nav-link:hover,
a:focus,
a:active {
    color: var(--primary);
    text-decoration: none;
}

.nav-item .nav-link.active {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px;
    margin-right: 20px;
    transition: all 0.2s ease 0s;
}

.nav-item .nav-link.active-underline {
    border-bottom: 3px solid var(--accent);
}

.download-cv {
    padding: 20px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px var(--primary);
}

.download-cv:hover,
.download-cv:focus {
    background-color: var(--primary);
    transition: background-color 0.7s, color 0.3s;
    color: var(--white);
    border: none;
}

.btn-close {
    background-color: var(--accent) !important;
    color: var(--white) !important;
}

.canvas-custom {
    background-color: var(--bg);
    color: var(--white);
}

ul.myCanvas-list {
    padding: 0;
    margin: 0;
}

.myCanvas-list li {
    text-transform: capitalize;
    display: block;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--accent);
}

.myCanvas-list li a {
    color: var(--white);
    text-decoration: none;
}

.myCanvas-list li a:hover {
    color: var(--primary);
}

ul.myCanvas-socials {
    margin: 0;
    padding: 0;
}

.myCanvas-socials li {
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
}

.myCanvas-socials li a {
    text-decoration: none;
}

.myCanvas-socials li a:hover {}

.myCanvas-socials .la-facebook {
    color: #354db5;
}

.myCanvas-socials .la-twitter {
    color: #23ABFF;
}

.myCanvas-socials .la-instagram {
    color: #d6249f;
}

.myCanvas-socials .la-whatsapp {
    color: #009710;
}

.myCanvas-socials .la-linkedin {
    color: #0077B5;
}

.myCanvas-socials .la-github {
    color: #171515;
}

.introduction {
    color: var(--white);
}

.introduction h4 {
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 60px;
}

.introduction p {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 60px;
}

.intro-btn {
    color: var(--white);
    background-color: var(--bg);
    letter-spacing: 5px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-transform: uppercase;
}

.intro-btn:hover,
.intro-btn:focus {
    background-color: var(--primary);
    transition: background-color 0.7s, color 0.3s;
    color: var(--white);
}

.about-section {
    margin-bottom: 60px;
}

.about-image {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the content vertically in the viewport */
}

.about-div {
    display: flex;
    align-items: center;
}

.about-div p {
    flex: 1;
    text-align: center;
}

.about-div img {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
}

.services {
    width: 100%;
    margin-bottom: 50px;
    box-shadow: var(--shadow);
    padding: 60px;
    border-radius: 10px;
}

.services:hover,
.services:focus {
    color: var(--white);
    background-color: var(--bg);
    transition: background-color 0.7s, color 0.3s;
}

.service-icon {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gg-home-screen,
.gg-pen,
.gg-server,
.gg-template {
    color: var(--primary);
    --ggs: 2;
    margin-bottom: 60px;
}

.service-text h4 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: var(--heading-font);
    margin-bottom: 20px;
}

.service-text p {
    font-size: var(--regular-font);
}

.blog-post {
    position: relative;
}

.blog-imgHome {
    object-fit: cover;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    filter: brightness(50%);
}

.blog-caption {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: var(--white);
    padding: 30px;
}

.blog-title a {
    font-size: var(--heading-font);
    font-weight: 600;
    line-height: 35px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

.blog-title a:hover {
    color: var(--primary);
}

.blog-meta {
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-meta li {
    margin-right: 30px;
    display: inline-block;
}

.blog-meta li a {
    color: var(--white);
    text-decoration: none;
}

.blog-meta li a:hover,
.blog-meta li a:focus {
    text-decoration: underline;
}

.see-all a {
    font-size: var(--regular-font);
    color: var(--bg);
}

.see-all a:hover,
.see-all a:focus {}



.page-title {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
    height: 400px;
}

.page-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/blogimg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(30%);
    background-color: var(--bg) !important;
    opacity: 0.;
    z-index: -1;
}

.custom-media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
    border-bottom: 3px solid var(--white);
}

.custom-media img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 50px;
}

.custom-media-body {
    flex: 1;
}

.custom-media-body h5 {
    font-size: var(--heading-font);
}

.custom-media-body h5 a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--regular-font);
}

.custom-media-body h6 {
    font-size: var(--regular-font);
    font-style: italic;
    color: var(--primary);
}

h5.custom-media-h5 {
    font-size: var(--regular-font);
}

.custom-media-body p {
    margin-bottom: 0.5rem;
}

ul.custom-media-list {
    padding: 0;
    margin: 0;
}

.custom-media-list li {
    display: block;
    margin-bottom: 20px;
}

.custom-media-list .la {
    margin-right: 10px;
}

.contact-title {
    font-size: var(--heading-font);
    margin-bottom: 50px;
}

ul.contact-address {
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}

.contact-address li {
    display: block;
    margin-bottom: 30px;
}

.contact-address .la {
    margin-right: 20px;
}

.contact-form .form-group {
    margin-bottom: 30px;
}

.contact-form {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    height: 50px;
    background-color: var(--white);
    border: 0px solid var(--white);
    padding: 10px 30px;
    color: var(--black);
    border-radius: 10px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-form:focus {
    background-color: var(--white);
    box-shadow: none;
}

.contact-label {
    margin-bottom: 10px;
}

.contact-form::placeholder {
    font-weight: 300;
    font-size: 15px;
}

.contact-text {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
    background-color: var(--white);
    border: 0px solid var(--white);
    padding: 10px 30px;
    color: var(--black);
    border-radius: 10px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-text:focus {
    background-color: var(--white);
    box-shadow: none;
}

.contact-btn {
    width: 100%;
    color: var(--white);
    background-color: var(--bg);
    letter-spacing: 5px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    text-transform: uppercase;
}

.contact-btn:hover,
.contact-btn:focus {
    background-color: var(--primary);
    transition: background-color 0.7s, color 0.3s;
    color: var(--white);
}

ul.postPage-meta {
    margin: 0;
    padding: 0;
}

.postPage-meta li {
    display: inline-block;
    font-size: var(--regular-font);
    margin-right: 20px;
    margin-bottom: 30px;
}

.postPage-meta .la {
    margin-right: 10px;
}

ul.postPage-share {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.postPage-share li {
    display: inline-block;
    margin-right: 20px;
    font-size: var(--heading-font);
    line-height: 15px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: var(--shadow);
}

.postPage-share .la-linkedin {
    color: #0077B5;
}

.postPage-share .la-facebook {
    color: #354db5;
}

.postPage-share .la-twitter {
    color: #23ABFF;
}

.postPage-share .la-instagram {
    color: #D6249F;
}

.post-page img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 10px;
}

.post-page h4 a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--heading-font);
    font-weight: 700;
    text-transform: uppercase;
}
.post-page p{
    margin-bottom: 60px;
}
.post-page p::first-letter{
    font-weight: 700;
    font-size: var(--main-heading);
    color: var(--primary);
}
.comm-title{
    font-size: var(--regular-font);
    font-weight: 700;
    margin-bottom: 50px;
}
.comment {
    font-size: var(--regular-font);
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid var(--white);
    margin-bottom: 60px;
}

.comment img {
    margin-right: 1rem;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.comm-name {
    margin-top: 0;
    font-size: var(--regular-font);
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.comm-body p {}

.comm-form {
    position: relative;
    z-index: 1;
    height: 50px;
    background-color: var(--white);
    border: 0px solid var(--white);
    padding: 10px 30px;
    color: var(--black);
    border-radius: 3px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.comm-form:focus {
    color: var(--black);
    background-color: var(--white);
    box-shadow: none;
}

textarea.comm-text {
    position: relative;
    background-color: var(--white);
    border: 0px solid var(--white);
    padding: 10px 30px;
    color: var(--white);
    border-radius: 3px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

textarea.comm-text:focus {
    color: var(--black);
    background-color: var(--white);
    box-shadow: none;
}

.comm-btn {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--white);
    background-color: var(--bg);
    border: var(--bg);
    height: 50px;
    width: 100%;
    border-radius: 10px;
}
.comm-btn:hover,
.comm-btn:focus{
    background-color: var(--primary);
    transition: background-color 0.7s, color 0.3s;
    color: var(--white);
    border: none;
}
.post-page h4 a:hover,
.post-page h4 a:focus {
    color: var(--primary);
    transition: background-color 0.7s, color 0.3s;
}
.simiral-post {
    position: relative;
    margin-bottom: 60px;
}

.simiral-h{
    font-size: var(--heading);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
}

.simiral-imgHome {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 10px;
    filter: brightness(50%);
}

.simiral-caption {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    color: var(--white);
    padding: 30px;
}

.simiral-title a {
    font-size: var(--regular-font);
    font-weight: 700;
    line-height: 35px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

.simiral-title a:hover {
    color: var(--primary);
}

.simiral-meta {
    list-style: none;
    padding: 0;
    margin: 0;
}

.simiral-meta li {
    margin-right: 30px;
    display: inline-block;
}

.simiral-meta li a {
    color: var(--white);
    text-decoration: none;
}

.simiral-meta li a:hover,
.simiral-meta li a:focus {
    text-decoration: underline;
}
.foot {
    background-color: var(--bg);
}

.footer-social {
    text-align: center;
}

ul.footer-social {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
    line-height: 15px;
    border: 2px solid var(--accent);
    border-radius: 50%;
    padding: 10px;
}

.footer-social li a {
    color: var(--white);
    text-decoration: none;
}

.footer-social li a:hover,
.footer-social li a:focus {}

.footer-quick {}

ul.footer-quick {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.footer-quick li {
    display: inline-block;
}

.footer-quick li a {
    text-decoration: none;
    color: var(--white);
}

.footer-quick li a:hover,
.footer-quick li a:focus {
    color: var(--primary);
}

.copyright {
    color: var(--white);
    padding: 60px 0px;
    border-top: 1px solid var(--accent);
    text-align: center;
}

.copyright a {
    color: var(--white);
}

.copyright a:hover,
.copyright a:focus {
    color: var(--primary);
}